# LaTeX build artifacts
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.synctex.gz
*.fls
*.fdb_latexmk

# Build folders
output/*.aux
output/*.log
output/*.out
output/*.toc
output/*.lof
output/*.lot
output/*.synctex.gz
output/*.fls
output/*.fdb_latexmk
output/main.pdf
output/*.docx

log/*.log
__pycache__/
*.pyc
scripts/__pycache__/

